<div id="wrapper">

		<div id="content">
			<div id="contents">
			<div id="left">

				<div id="personal_profile_section">
					<div id="personal_section_top"><p>Jason Ko</p></div>
					<div id="personal_picture"><img src="/assets/member_about/person_photo.jpg" height="140" width="140"></div>
					<p><%= link_to('新品上架', :controller=>"personals", :action=>"ready_to_sell")%></p>
					<p><%= link_to('我的商品', :controller=>"personals", :action=>"products")%></p>
					<p><%= link_to('我的評價', :controller=>"personals", :action=>"evaluation")%></p>
					<p><%= link_to('我的購買紀錄', :controller=>"personals", :action=>"trade_record")%></p>
					<p><%= link_to('悄悄話', :controller=>"personals", :action=>"whisper")%></p>
					<p><%= link_to('問與答', :controller=>"personals", :action=>"ask_answer")%></p>
				</div>
				<div id="fans_section">
					<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
				</div>
			</div>
			<div id="right">
				<div class="pp">> 問與答</div>
				<div id="goods">
					<div id="goods_top">
						<div id="goods_top_p"><p>未讀問與答</p></div>
					</div>
					<div id="ask_answer_section">
						<div id="whisper_section">
							<div id="whisper_top">
								<p>發訊人</p>
								<p style="margin-left:50px;">商品</p>
								<p style="margin-left:50px;">內容</p>
								<hr style="margin-left:10px;width:760px;">
							</div>
							<ul style="margin-top:10px">
								<li><h6>*</h6><p>發訊人:Kevin | 商品名:OGK全新單車手套 | 內容:oooxxxx(2012/6/23 15:03)</p><img src="/assets/check_into.png"></li>
								<li><h6>*</h6><p>發訊人:Kevin | 商品名:OGK全新單車手套 | 內容:oooxxxx(2012/6/23 15:03)</p><img src="/assets/check_into.png"></li>
								<hr style="margin-left:10px;width:760px;">
							 </ul>
						</div>
					</div>	
				</div>
			</div>
			</div>
		</div>	

</div>