<%= javascript_include_tag "p_products.js"%>

<div id="wrapper">

		<div id="content">
			<div id="contents">
			<div id="left">			
				<div id="personal_profile_section">
					<div id="personal_section_top"><p>Jason Ko</p></div>
					<div id="personal_picture">
						<div id="photo_bg"><img src="/assets/member_about/person_photo.jpg" height="140" width="140"></div>
						<div id="up_load_logo"><img src="/assets/personal_evaluation/up_load.png" height="29" width="34"></div>
					</div>
					<p><%= link_to('新品上架', :controller=>"personals", :action=>"ready_to_sell")%></p>
					<p><%= link_to('我的商品', :controller=>"personals", :action=>"products")%></p>
					<p><%= link_to('我的評價', :controller=>"personals", :action=>"evaluation")%></p>
					<p><%= link_to('我的購買紀錄', :controller=>"personals", :action=>"trade_record")%></p>
					<p><%= link_to('悄悄話', :controller=>"personals", :action=>"whisper")%></p>
					<p><%= link_to('問與答', :controller=>"personals", :action=>"ask_answer")%></p>
				</div>
				<div id="fans_section">
					<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
				</div>
			</div>
			<div id="right">
				<div class="pp">> 我的商品</div>
				<div id="goods">
					<div id="goods_top">
						<div id="goods_top_p"><p>我的商品</p></div>
					</div>
					
					<!-- <div id="top_setting" style="margin-top:20px">
											<p>拍賣中</p>
											<p>未上架</p>
											<p>已結束</p>
										</div>
										<hr> -->
					
					<div id="member_products">
						<div id="on_sale_head">
							<p>拍賣中</p>
							<hr style='width:795px'>
						</div>
						<div id="on_sale">
							<div id="item">
								<div id="item_image"><img src="/assets/item_sample.jpg" height="135" width="180"/></div>
								<div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div>
								<div id="price">$45000</div>
							</div>
							<div id="item">
								<div id="item_image"><img src="/assets/item_sample.jpg" height="135" width="180"/></div>
								<div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div>
								<div id="price">$45000</div>
							</div>
							<div id="item">
								<div id="item_image"><img src="/assets/item_sample.jpg" height="135" width="180"/></div>
								<div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div>
								<div id="price">$45000</div>
							</div>
						</div>
						
						<div id="not_on_sale_head">
							<p>未上架</p>
							<hr style='width:795px'>
						</div>
						<div id="not_on_sale">
							<div id="item">
								<div id="item_image"><img src="/assets/item_sample.jpg" height="135" width="180"/></div>
								<div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div>
								<div id="price">$45000</div>
							</div>
							<div id="item">
								<div id="item_image"><img src="/assets/item_sample.jpg" height="135" width="180"/></div>
								<div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div>
								<div id="price">$45000</div>
							</div>
						</div>
						
						<div id="sale_close_head">
							<p>已結束</p>
							<hr style='width:795px'>
						</div>
						<div id="sale_close">
							<div id="item">
								<div id="item_image"><img src="/assets/item_sample.jpg" height="135" width="180"/></div>
								<div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div>
								<div id="price">$45000</div>
							</div>
						</div>
					</div>
					
					<!-- <div id="page_selection"><p>1 2 3 4 5</p></div> -->
				</div>
			</div>
			</div>
		</div>	

</div>