<div id="wrapper">

		<div id="content">
			<div id="contents">
			<div id="left">

				<div id="personal_profile_section">
					<div id="personal_section_top"><p>Jason Ko</p></div>
					<div id="personal_picture"><img src="/assets/member_about/person_photo.jpg" height="140" width="140"></div>
					<p><%= link_to('新品上架', :controller=>"personals", :action=>"ready_to_sell")%></p>
					<p><%= link_to('我的商品', :controller=>"personals", :action=>"products")%></p>
					<p><%= link_to('我的評價', :controller=>"personals", :action=>"evaluation")%></p>
					<p><%= link_to('我的購買紀錄', :controller=>"personals", :action=>"trade_record")%></p>
					<p><%= link_to('悄悄話', :controller=>"personals", :action=>"whisper")%></p>
					<p><%= link_to('問與答', :controller=>"personals", :action=>"ask_answer")%></p>
				</div>
				<div id="fans_section">
					<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
				</div>
			</div>
			<div id="right">
				<div class="pp">> 悄悄話</div>
				<div id="goods">
					<div id="goods_top">
						<div id="goods_top_p"><p>悄悄話</p></div>
					</div>
					<div id="whisper_section">
					</div>	
				</div>
			</div>
			</div>
		</div>	

</div>
