<!DOCTYPE html>
<html>
<head>
  <title>X-Sport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <%= render '/pages/header' -%>
</header>
<%= yield %>

<footer>
    <%= render '/pages/footer' -%>
</footer>


</body>
</html>
